/* You can add global styles to this file, and also import other style files */
:root{
  --primary: #9c27b0
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red{
  color: #e35e6b;
}
.primary{
  color: var(--primary);
}

.v-middle{
  vertical-align: middle;
}
body{
  background-color: #303030;
}

.msg-sucess {
  background-color: #28a745;
  color: #fff;
}
.msg-error {
  background-color: #e35e6b;
  color: #fff;
}